<html>
    <head>
        <title>Admin - dashboard</title>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.7/css/all.css">
        <style>
            td{
                padding: 0px 20px;
            }
        </style>
    </head>
    <body>
        <div>
            <button type="submit" name="btndashboard">
                <a href="/admin/dashboard">Dashboard</a>
            </button>
            <button type="submit" name="btndashboard">
                <a href="/admin/product">Products</a>
            </button>
            <button type="submit" name="btndashboard">
                <a href="/admin/order">Orders</a>
            </button>
            <button type="submit" name="btndashboard">
                <a href="/admin/customer">Customers</a>
            </button>
            <button type="submit" name="btndashboard">
                <a href="/admin/review">Reviews</a>
            </button>
            <button type="submit" name="btndashboard">
                <a href="/admin/transaction">Transactions</a>
            </button>
        </div>
        <div>
            <h1>Reviews</h1>
            <form action="/admin/review" method="get">
                <button type="submit" name="rating" >All</button>
                <button type="submit" name="rating" value="5">5★</button>
                <button type="submit" name="rating" value="4">4★</button>
                <button type="submit" name="rating" value="3">3★</button>
                <button type="submit" name="rating" value="2">2★</button>
                <button type="submit" name="rating" value="1">1★</button>
            </form>
            <table>
                {% for review in review %}
                <tr>
                    <td colspan="2">
                        <strong>Review ID :</strong>{{review.reviewID}} | <strong>Product ID :</strong>{{review.productID}} | <strong>Customer ID :</strong>{{review.customerID}}
                    </td>
                </tr>
                <tr>
                    <td>
                        {% for i in range(review.rating) %}
                            ★
                        {% endfor %}
                        {% for i in range(5 - review.rating) %}
                            ☆
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <td>{{ review.comment }}<br><br><br></td>
                </tr>
                {% endfor %}
            </table>
        </div>        
    </body>
</html>